body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 40px;
}

:root {
  --light-blue: #06aed5;
  --dark-blue: #014d5e;
  --white: white;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 0;
  border-bottom: 10px solid var(--dark-blue);
  padding: 60px;
  margin-bottom: 40px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--white);
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: 1px dashed #000000;
  text-align: center;
  padding-top: 30px;
}

.past {
  background-color: #acacac;
  color: var(--white);
}

.present {
  background-color: var(--white);
  color: var(--white);
}

.future {
  background-color: #99cad4;
  color: var(--white);
}

.saveBtn {
  border: 2px solid var(--dark-blue);
  background-color: var(--light-blue);
  color: var(--white);
}

.saveBtn:hover {
  background-color: var(--dark-blue);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .row {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .hour {
    width: 100%;
    padding-bottom: 30px;
  }

  .saveBtn {
    width: 100%;
    padding: 10px 0;
  }

  textarea {
    padding: 40px 0;
  }
}